Package: dendy
Version: 1.0.2.19
Architecture: amd64
Maintainer: Ethan Hill <ehill.hill199@outlook.com>
Depends: cage, xserver-xorg-core, libx11-6, retroarch, python3, waydroid, libretro-mgba, libretro-snes9x, libretro-nestopia, libretro-gambatte, libretro-genesisplusgx
Description: Dendy System Software
